
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel Giriş</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/LoginCss.css" rel="stylesheet" />

</head>
<body>
    <div class="card">
        <h5 class="card-header">Admin Panel Giriş</h5>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" name="UserName" id="user" placeholder="username">

                    <label class="form-label">Şifre</label>
                    <input type="password" class="form-control" name="Password" placeholder="*******" />
                </div>
                <input type="submit" class="btn btn-info" value="Giriş" />
                <br /><br />
                <h6 style="color:crimson">@ViewBag.hatagonder</h6>
            </div>
        }
    </div>
</body>
</html>