@using NewProjectWeb.Models.Classes
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WebLoyout.cshtml";
}
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <br />

    <br />
    <div class="container">
        <br />
        <br />
        <div id="brand">@Html.Action("PartialProductbrand", "HomePage")</div>
        <br /><br /><br />
        <div id="about"> @Html.Action("PartialAbout", "HomePage")</div>
        <br />
        <div id="product">@Html.Action("PartialProduct", "HomePage")</div>
        <br /><br /><br />
        <div id="contact">@Html.Action("PartialContact", "HomePage")</div>
    </div>
    <br />
    <div style="text-align:center">
        <a href="#" class="btn btn-info" style="border-radius:10px;"><span class="icon icon-angle-up"></span></a>
        <div style="text-align:left">
            <label><strong>Online Ziyaretçi</strong></label><br />
            <script id="_waue1d">var _wau = _wau || []; _wau.push(["colored", "wyt21rvx0e", "e1d", "6fa8dc20124d"]);</script>
            <script async src="//waust.at/co.js"></script>
        </div>
    </div>

</body>
</html>


