@using NewProjectWeb.Models.Classes
@model List<Product>
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_ProductDetailLayout.cshtml";
}

<div class="container">
    <h1>ÜRÜN DETAY</h1>
    <br />
    @foreach (var item in Model)
    {
        <div>
            <div style="text-align:center"><img src="@item.ProductImage" alt="Yurtdaş Tarım Gıda Ürünleri" height="450" width="600" /></div>
            <br /><br />
            <h2>@item.ProductName</h2>
            <br /><br />
            <p>@item.ProductDescription</p>
        </div>
    }
    <div style="text-align:left">
        <label><strong>Online Ziyaretçi</strong></label><br />
        <script id="_waue1d">var _wau = _wau || []; _wau.push(["colored", "wyt21rvx0e", "e1d", "6fa8dc20124d"]);</script>
        <script async src="//waust.at/co.js"></script>
    </div>
</div>